* {
    
    font-family: 'Open Sans', sans-serif;
}

/* nav title style */
.header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
}
.btn-secondery{
    color: #FD6E0A;
    background-color:#FFF8F3;
    border: #FD6E0A solid 1px;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: 700px;
    font-size: 20px;
    height: 64px;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}
.banner-btn{
    display: flex;
}
/* About Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    align-items: center;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
}
/* about info part */
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.info-title{
    color: #757575;
}